shopping/shop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="p">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="productid" type="xs:string"/>
                            <xs:element name="productname" type="xs:string"/>
                            <xs:element name="category" type="xs:string"/>
                            <xs:element name="quantity" type="xs:int"/>
                            <xs:element name="unitp" type="xs:decimal"/>
                            <xs:element name="total" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>